body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  width: 100%;
  max-width: 1000px;
  background-color: #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
}

.left-section {
  flex: 1;
  background-color: #004c97;
  color: white;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.banner {
  text-align: center;
}

.banner-title {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
}

.banner-text {
  font-size: 16px;
  margin-bottom: 10px;
}

.right-section {
  flex: 1;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-box {
  width: 100%;
  max-width: 400px;
}

.login-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.register-page {
  display:none;
}
.login-page {
  display:none;
}
.active {
  display:block;
}
.login-btn {
  width: 100%;
  padding: 10px;
  background-color: #004c97;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.login-btn:hover {
  background-color: #003366;
}

.login-footer {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #777;
}

.mobile-img {
  display:none!important;
}
#loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  display: none; /* Hidden by default */
}

/* Loading Animation */
.dot {
  width: 12px;
  height: 12px;
  margin: 5px;
  background-color:#fff!important;
  border-radius: 50%;
  display: inline-block;
  animation: dotPulse 1.5s infinite ease-in-out;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes dotPulse {
  0%, 100% {
      transform: scale(1);
      opacity: 1;
  }
  50% {
      transform: scale(0.5);
      opacity: 0.3;
  }
}
/* Media Query for Mobile Devices */
@media (max-width: 568px) {
  .mobile-img {
      display:flex !important;
      justify-content:center;
  }
  
  .container {
      flex-direction: column;
      margin:0 1rem;
  }
  
  .left-section {
      display: none;
  }

  .right-section {
      padding: 20px;
      max-width: 100%;
  }

  .login-box {
      max-width: 100%;
  }
}