.calc {
    width: calc(100% - 25%);
    margin: 0 auto;
  }
  .about-text {
    font-size:15px;
}
.fonts-custom {
  font-family: "Poppins", sans-serif;
}
  @media (max-width: 768px) {
    .calc {
      width: 100%;
    }
  }
  .custom-confirm-button {
    background-color:green!important;
    color:white;
}
.custom-cancel-button {
    background-color:red!important;
    color:white;
}
.margin {
    margin-right: 1rem;
  }
   @media screen and (max-width: 640px) {
    .margin {
      margin-right:0;
    }
    .main-content {
      height: 100vh;
    }
    .mobile {
      margin-top: 4rem;;
    }
   }